@page "/login"

<PageTitle>Login</PageTitle>

<div class="d-flex flex-row my-7 px-3" style="width: 100%;">

    <div class="m-auto p-3" style="background: grey;">
        <h1>Log in</h1>
    </div>

</div>