.fly-in {
    right: -800px;
    -webkit-animation: slide 0.5s forwards;
    animation: slide 0.5s forwards;
    width: 500px;
    max-width: 80vw;
}

@-webkit-keyframes slide {
    100% {
        right: 0;
    }
}

@keyframes slide {
    100% {
        right: 0;
    }
}

.fly-out {
    right: 0;
    -webkit-animation: slide2 0.5s forwards;
    animation: slide2 0.5s forwards;
    width: 500px;
    max-width: 80vw;
}

@-webkit-keyframes slide2 {
    100% {
        right: -800px;
    }
}

@keyframes slide2 {
    100% {
        right: -800px;
    }
}
