<div class="d-flex flex-row p-2" style="width: 100%;">

    <div class="ms-auto d-flex flex-row">
        <i class="oi oi-person" />
        <span class="ms-2">Guest</span>
        <a class="ms-2" href="login">Log in</a>
    </div>

</div>

@code {

}
